/* Hover underline animation */
.nav-items li::after, .nav-icon::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #00609F;
    transition: 0.3s;
}

.nav-items li:hover::after , .nav-icon:hover::after{
    width: 100%;
}

.nav-items li:hover ,.nav-icon:hover{
    color: #00609F;
}

.p-rating .p-rating-item.p-focus {
    box-shadow: none !important;
}

.p-menuitem-link{
    background-color: #f5f7fa;
}