@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss" prefix(tw);

@theme {
  --font-lexend:'Lexend',sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-geist:'Geist', sans-serif;
  --breakpoint-2md:800px;
  --breakpoint-xs: 605px;
  --breakpoint-mb: 425px;
}